h1 {
    background-color: brown;
    color: white;
    text-align: center;
}

/*p{
            background-color: aquamarine;
        }*/
#icet01 {
    background-color: green;
}

#icet02 {
    background-color: blue;
}

.group01 {
    background-color: brown;
}

.group02 {
    background-color: bisque;
}